<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247644706560-pfemf9fpaj8160vs9jqqh77amko4or1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247644706560-pfemf9fpaj8160vs9jqqh77amko4or1l</string>
	<key>API_KEY</key>
	<string>AIzaSyB_qq-UG-3IBSKUpWYMmpnZ39-ZRttWIeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>247644706560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaitechcorp.cloudassist</string>
	<key>PROJECT_ID</key>
	<string>api-project-371618</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-371618.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247644706560:ios:41e6a3bc25373790cf85e5</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-371618-default-rtdb.firebaseio.com</string>
</dict>
</plist>